framework/openssl/
framework/opus/
framework/speex/
framework/paho/
*/*/cmake_install.cmake
*/*/CMakeFiles/
*/*/Makefile
*/cmake_install.cmake
*/CMakeFiles/
*/Makefile
*/*.a
**/*.a
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile
lib/
bin/
VersionInfo.h
CPackSourceConfig.cmake
CPackConfig.cmake
.vscode
test.log
